.Rproj.user
.Rhistory
.RData
.Ruserdata

data/EDG_2020.sav
data/BDD_EDG_2019.sav
data/EDG_2018.sav
data/BBD_EDG_2017_spss.sav
data/EDG_2016.sav
data/EDG_2015.sav
data/EDG_2014.sav
data/EDG_2013.sav
data/EDG_2012.sav
data/EDG_2011.sav
.Rproj.user
